<main class="main">
  <div>Time to {{ eventTitle }}</div>
  <div>
    <div>{{ deltaTime.days }} days</div>
    <div>{{ deltaTime.hours }} h</div>
    <div>{{ deltaTime.minutes }} m</div>
    <div>{{ deltaTime.seconds }} s</div>
  </div>
  <fieldset>
    <legend>Title</legend>
    <input id="eventTitle" [(ngModel)]="eventTitle" (ngModelChange)="saveEvent()" />
  </fieldset>
  <fieldset>
    <legend>Date</legend>
    <input
      id="eventDate"
      type="date"
      [(ngModel)]="eventDate"
      (ngModelChange)="setDeltaTime(); saveEvent()"
      [min]="minEventDate"
    />
  </fieldset>
</main>

<router-outlet />
