main {
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 6rem;
  }

  fieldset {
    border-radius: 5px;
    width: 250px;
  }

  legend {
    font-size: 0.8rem;
    text-align: left;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  input {
    border: none;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}
