main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 243, 243);

  width: 100%;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    width: 100%;
    color: rgb(114, 3, 93);
    white-space: nowrap;
    margin: 0
  }

  h2 {
    display: flex;
    gap: 4px;
    font-weight: normal;
  }

  fieldset {
    border-radius: 5px;
    width: 250px;
  }

  legend {
    font-size: 0.8rem;
    text-align: left;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-family: inherit;
  }

  input:focus {
    outline: none;
  }
}
