<main class="main">
  <div>Time to {{ eventTitle }}</div>
  <div>
    <div>{{ deltaTime.days }} days</div>
    <div>{{ deltaTime.hours }} h</div>
    <div>{{ deltaTime.minutes }} m</div>
    <div>{{ deltaTime.seconds }} s</div>
  </div>
  <div>
    <input id="eventTitle" [(ngModel)]="eventTitle" />
  </div>
  <div>
    <input
      id="eventDate"
      type="date"
      [(ngModel)]="eventDate"
      (ngModelChange)="updateDeltaTime()"
      [min]="minEventDate"
    />
  </div>
</main>

<router-outlet />
