main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 243, 243);

  width: 100%;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  .display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h1 {
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    font-size: 1;
    color: rgb(114, 3, 93);
  }

  h2 {
    margin: 0;
    font-size: 1;
    width: fit-content;
    white-space: nowrap;
    font-weight: normal;
  }

  fieldset {
    border-radius: 5px;
    width: 250px;
  }

  legend {
    font-size: 0.8rem;
    text-align: left;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-family: inherit;
  }

  input:focus {
    outline: none;
  }
}
