<main class="main">
  <h1>Time to {{ eventTitle }}</h1>
  <h2>
    {{ deltaTime.days }} days, {{ deltaTime.hours }}h, {{ deltaTime.minutes }}m,
    {{ deltaTime.seconds }}s
  </h2>
  <div class="form">
    <fieldset>
      <legend>Title</legend>
      <input id="eventTitle" [(ngModel)]="eventTitle" (ngModelChange)="saveEvent()" />
    </fieldset>
    <fieldset>
      <legend>Date</legend>
      <input
        id="eventDate"
        type="date"
        [(ngModel)]="eventDate"
        (ngModelChange)="setDeltaTime(); saveEvent()"
        [min]="minEventDate"
      />
    </fieldset>
  </div>
</main>

<router-outlet />
